<%- include('./partials/auth-menu') %>

<div id="dashboard" class="container-fluid ml-auto">

<% if(user.member){ %>
  <h2 class='bg-light mt-4 dash p-3'>Latest Registrations</h2>
<h2 class='alert alert-success'>Total registrations: <strong><%= count %></strong></h2 >
<h3 class='alert alert-success p-4' style="width: fit-content;">Last registration at<br /><span style="font-size: 22px;">Date: <%= latestDate %></span> </h3 > 
<!-- <h4 class='alert alert-warning p-4' style="width: fit-content;"><i class="fas fa-exclamation-triangle"></i> The time is in UTC timezone. Add 5:30 to convert it to IST.</h4> -->
<h3 class='bg-light mt-4 dash p-3'>Last 10 Registrations</h3>
  <% latestRegs.forEach(function(reg){ %>
    <div class="card" style="width: auto; margin: auto; text-align: center;">
        <div class="card-body">
          <h3 class="card-title sub-head">Name: <span class='Cont'><%=reg.name%></span></h3>
          <h5 class="card-text wel-fol">Email: <span><%= reg.email %></span></h5>
        </div>
      </div>
      <br />
<% }) %>
<% }else{ %>
  <h4 class='alert alert-warning p-4' style="width: fit-content;"><i class="fas fa-exclamation-triangle"></i> Access Denied. You are not a member. Contact database administrator.</h4>
  <% } %>
</div>