<%- include('./partials/auth-menu') %>


<div class="container-fluid ml-auto">
  <h1 class='bg-light mt-4 dash p-3'>All Submissions</h1>
  <% articles.forEach(function(article){ %>
    <div class="card">
        <div class="card-body">
          <h4 class="card-title sub-head"><%=article.auth%></h4>
          <h5 class="card-title sub-head">File Type: <span class='Cont'><%=article.entryType%></span></h5>
          <p class="card-text wel-fol"><%= article.email %></p>
          <div class="subs-buttons">
            <form action='/articles/downloads/<%= article._id %>' method="POST">
              <button class="btn btn-primary" type = 'submit'>Download File</button>
            </form>&nbsp;&nbsp;
            <form action='/articles/view/<%= article._id %>' method="POST">
              <button class="btn btn-primary" type = 'submit'>View Description</button>
            </form>
          </div>
        </div>
      </div>
<% }) %>
</div>

